.navbar-brand img {
    margin: 0 10px;
    width: 20px;
}

.navbarDiv {
    display: flex;
}

.themeChangeDiv {
    padding: 10px;
    border-radius: 50%;
}

.themeChangeDiv img {
    width: 20px;
}

.themeChangeDiv img:hover {
    cursor: pointer;
}

.themeChangeDiv:hover {
    background-color: #8080808c;
}

.themeChangeDiv.clicked  i{
    color: white;
}